In [1]:
tup1 = 1,2,3
tup2 = tuple("ABCD")

In [2]:
print(tup1)

(1, 2, 3)

In [3]:
print(tup2)

('A', 'B', 'C', 'D')

In [4]:
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 'A', 'B', 'C', 'D')

In [5]:
print(type(tup3))

<class 'tuple'>

In [6]:
tup4 = (tup1, tup2)
print(tup4)

((1, 2, 3), ('A', 'B', 'C', 'D'))

In [7]:
(27,)*10

(27, 27, 27, 27, 27, 27, 27, 27, 27, 27)

In [8]:
(27)*10

270

In [10]:
27 *10

270

In [14]:
(a, b,c )= ('alpha', 'beta', 'gamma')
print(a, b, c)

alpha beta gamma

In [15]:
d0 = {}
d1 = dict()

In [17]:
dict_1 = {'seller': 'Amazon', 'YeartBegin': 1994}
dict_1['seller']

'Amazon'

In [18]:
dict_1['seller'] = 'google'
dict_1

{'seller': 'google', 'YeartBegin': 1994}

In [19]:
dict_1['Origin']= 'USA'
dict_1

{'seller': 'google', 'YeartBegin': 1994, 'Origin': 'USA'}

In [20]:
dict_1.values()

dict_values(['google', 1994, 'USA'])

In [22]:
dict_1.keys()

dict_keys(['seller', 'YeartBegin', 'Origin'])

In [1]:
set1 = set([1,2,2,3,4,5])
print(set1)

{1, 2, 3, 4, 5}

In [2]:
set1.add(10)
print(set1)

{1, 2, 3, 4, 5, 10}

In [3]:
set1.update([6,7,8])
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [5]:
set2= set([1,2,3,4,5])
print("Set1 union Set2: ", set1.union(set2))

Set1 union Set2:  {1, 2, 3, 4, 5, 6, 7, 8, 10}

In [6]:
print(set1.intersection(set2))

{1, 2, 3, 4, 5}

In [7]:
print(set1.difference(set2))

{8, 10, 6, 7}

In [8]:
print(set1.symmetric_difference(set2))

{6, 7, 8, 10}

In [9]:
print(set1.isdisjoint(set2))

False

In [10]:
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [11]:
#define function
def our_first_function():
    print("my first function")

In [12]:
our_first_function()

my first function

In [33]:
def great_him(name):
    print("Hey", name,  "How are you!")
    print(f"Hey {name}! How are you?")

In [34]:
great_him("Mike")

Hey Mike How are you!
Hey Mike! How are you?

In [37]:
def add_number(x1, x2, x3):
    return(x1 + x2 + x3)

In [38]:
abc = add_number(10, 20, 30)

In [39]:
print(abc)

60

In [40]:
def add_number(*args):
    list1=[]
    for i in args:
        list1.append(i)
    return sum(list1)

In [41]:
add_number(2,4,6)

12

In [42]:
# lamda function
# lamda arguments: expression
# define a function but not include a "return" statement

In [43]:
square = lambda x: x**2

In [44]:
square(10)

100

In [46]:
multiply = lambda x, y: x*y
multiply(4,5)

20

In [47]:
#list comprehension, simple to generate a list
# [output expression for loop argument conditional argument]
[27*i for i in range(1,11)]
[22*i for i in range(1,10) if i%2==1]

[22, 66, 110, 154, 198]

In [52]:
seq = [(1,2,3), (4,5,6), (7,8,9)]
for a, b, c in seq:
    print(a,b,c)
    print('a={0},b={1},c={2}'.format(a,b,c))

1 2 3
a=1,b=2,c=3
4 5 6
a=4,b=5,c=6
7 8 9
a=7,b=8,c=9

In [57]:
values = 1,2,3,4,5,6
a,b,*rest = values
print(*rest)
c,d,*_ = values
print(c,d)

3 4 5 6
1 2

In [58]:
seq = [7,3,2,5,6,8,9]
seq[::2]

[7, 2, 6, 9]

In [60]:
seq[::-2]

[9, 6, 2, 7]